<div class="popular_news sidebar-padd mar-1">
    <div class="inner-title">
        <h3>Popüler Bloglar</h3>
    </div>
    <div class="popular-post">
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/post-1.jpg" alt=""></a></div>
            <h4><a href="#">Kendi hayal gücünüzü zorlayın</a></h4>
            <div class="post-info">Mart 21, 2019 </div>
        </div>
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/post-2.jpg" alt=""></a></div>
            <h4><a href="#">Gücün Ötesinde Bir Yerde..</a></h4>
            <div class="post-info">Nisan 21, 2019</div>
        </div>
        <div class="item">
            <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/post-3.jpg" alt=""></a></div>
            <h4><a href="#">Başarı paylaştıkça çoğalır.</a></h4>
            <div class="post-info">Haziran 16, 2020</div>
        </div>
    </div>
</div>



