
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Proje Detayları</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>

<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Ana Sayfa</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Project")">Projeler</a>
                </li>
                <li>
                    Proje Detayları
                </li>
            </ul><!-- /.list-line -->
        </div><!-- /.pull-left -->
        
</div>

<section class="project-single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="project-sidebar">
                    <ul class="project-catergory">
                        <br/>
                        <li class="active"><a href="project-single.html">Kurumsal Yazılım Projeleri</a></li><br />
                        <li><a href="project-single.html">Üniversite Otomasyon Projesi</a></li><br />
                        <li><a href="project-single.html">Banka CRM Yazılım Projeleri</a></li><br />
                        <li><a href="project-single.html">E-ticaret Siteleri</a></li><br />
                        
                    </ul>
                    <br>
                    <br>

                    <!-- Downloads -->
                    <div class="sidebar-widget downloads">
                        <ul class="download-list">
                            <li><a href="#"><span class="fa fa-file-pdf-o"></span> İndir via . Pdf</a></li>
                            <li><a href="#"><span class="fa fa-file-word-o"></span> İndir via . Doc</a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="popular_news">
                        <div class="inner-title">
                            <h3>Popüler Bloglar</h3>
                        </div>
                        <div class="popular-post">
                            <div class="item">
                                <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/post-1.jpg" alt=""></a></div>
                                <h4><a href="#">Kendi hayal gücünüzü zorlayın</a></h4>
                                <div class="post-info">Mart 21, 2019 </div>
                            </div>
                            <div class="item">
                                <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/post-2.jpg" alt=""></a></div>
                                <h4><a href="#">Gücün Ötesinde Bir Yerde..</a></h4>
                                <div class="post-info">Nisan 21, 2019</div>
                            </div>
                            <div class="item">
                                <div class="post-thumb"><a href="#"><img src="~/Content/Site/images/blog/post-3.jpg" alt=""></a></div>
                                <h4><a href="#">Başarı paylaştıkça çoğalır.</a></h4>
                                <div class="post-info">Haziran 16, 2020</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="outer-box">
                    <div class="video-column">
                        <div class="video-image-box">
                            <figure class="img-box">
                                <img src="~/Content/Site/images/service/s1.jpg" alt="">
                            </figure>
                        </div>
                    </div>

                    <br>

                    <div class="text">
                        Alanında uzman yazılımcılar, tasarımcılar ve kıdemli proje yöneticileri ile ihtiyaçlarınızı dinliyor, süreçlerinizi iyi analiz ediyor, sizin ve firmanız için en doğru özel yazılım geliştirme, mobil yazılım çözüm önerilerini getiriyoruz. 
                        Fark yaratmak için en doğru adımın işletmenize ve işleyişinize değer katmak olduğunu biliyor ve buna özgü planlamalar yapıyoruz.
                        <br>
                    </div>
                    <div class="inner-title">
                       
                    </div>
                    <div class="text">
                        <h4>Languages</h4>
                        <br>

                        <p>
                            1. REACT <br>
                            2. JavaScript<br>
                            3. Asp.net<br>
                            4. C# <br>
                        </p>
                    </div>

                    <br>
                    <div class="text">
                        <h4>Technologies</h4>
                        
                        <br>
                        1.Nodejs<br>
                        2.Jar<br>
                        3.JWT<br>
                        4.MVC
                    </div><br>
                    <div class="strategies">
                        <div class="inner-title">
                            <h3>Pazarlama Stratejisi</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="text">
                                    <p>Pazarladığımız ve piyasaya sunduğumuz ürünlerin müşterilerinden tam not alması nedeniyle bu alanda da yine rakip tanımıyoruz.</p>
                                </div>
                                <ul class="benifit">
                                    <li>Ürünün her kitleye hitap etmesi</li>
                                    <li>Proje yatırımcılarının güçlü olması.</li>
                                    <li>Tanınan referanslar ile çalışma</li>
                                    <li>Ürünün ortaya çıkardığı hizmetin büyüklüğü</li>
                                    
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <figure class="image-box">
                                    <img src="~/Content/images/service/ss2.jpg" alt="">
                                </figure>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

