
<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>Hakkında <span>P&B Software</span></h2>
                    </div>
                    <div class="text">
                        P&B Software, 2012 ‘de yazılım dünyasına adım atmak amacıyla kurulmuş bir firmadır.
                        Yaklaşık bir senelik serüveni içerisinde, hızla sektöre ayak uydurup adını duyurmayı başarmıştır.

                        Öncelik olarak müşteri memnuniyetine önem veren firmamız , yaptığı işlerle ün salmıştır.
                        Web Sitesi Tasarımı ,Veri Tabanı Yönetimi ve Müşteri İstekleri odaklı çalışmaktadır.
                    </div>
                    <div class="link-btn"><a href="about.html" class="btn-style-two">Daha Fazla <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="background-image:url(images/resource/about.jpg);">

    </div>
</section>
