<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-technology"></span></div>
                    <h3>  0212 44 15</h3>
                    <div class="text">2500 Harikalar Caddesi, İstanbul, 15/20</div>
                </div>
            </div>
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-circular-clock-tool"></span></div>
                    <h3>Çalışma Saatleri</h3>
                    <div class="text">Pazartesi- Cumartesi 9:00 - 17:00 / Pazar Kapalı</div>
                </div>
            </div>

           
         

        </div>
    </div>
</section>

<!--Services Two-->
<section class="services-two bg-1 padd-3">
    <div class="container">
        <div class="row clearfix">

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-graphic-3"></span></div>
                    <h3><a href="#">İş Büyümesi</a></h3>
                    <div class="text">Eğer büyümek istiyorsanız yola istikrarlı olarak başlamanız gerekir.</div>

                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Daha Fazla</a>
                    </div>
                </div>
            </div>


            <!--Default Service Block / Active-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <h3><a href="#">24 Saat Online Destek</a></h3>
                    <div class="text">Sizlere daha iyi hizmet verebilmek adına 24 saat online destek vermeye devam ediyoruz.</div>
                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Daha Fazla</a>
                    </div>
                </div>
            </div>

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <h3><a href="#">Büyümenin Gücü</a></h3>
                    <div class="text">Hızla ilerleyen teknolojiye ayak uydurarak büyümeye devam ediyoruz.</div>
                    <div class="link-btn">
                        <a href="#" class="btn-style-three dark">Daha Fazla</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
